<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
      </ion-header>
      <ion-content color="primary">
          <ion-img src="../assets/marker/logo_white.png" style="max-width:50%; margin-left: auto; margin-right: auto;" class="logo_menu"></ion-img>

        <ion-list style="padding-top:0; padding-bottom: 0;">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item color="primary" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-button color="light" (click)="onDeconnect()">Déconnexion</ion-button>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
