ion-img {
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin-top: 0%;
    margin-left: 10px;
}

ion-card-title {
    text-align: center;
    text-transform: uppercase;
}

ion-title {
    text-align: center;
}

ion-button {
    float: right;
    border: 200px;
}

ion-icon {
    font-size: 30px;
    color: #99195D;
    margin-left: 3%;
    margin-top: 1%;
}

.price {
    margin-left: 85%;
    color: black;
    font-size: 20px;
}

.time {
    margin-left: 85%;
    color: black;
    font-size: 20px;
}