<ion-header>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button menuToggle color="primary" (click)="openMenu()">
          <ion-icon name="person"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-header>

<ion-content>
  <agm-map [latitude]="latitude"
           [longitude]="longitude"
           [zoom]="15"
           [zoomControl]="false"
           [streetViewControl]="false">
    <agm-marker *ngIf="marker"
                [latitude]="marker.latitude"
                [longitude]="marker.longitude">
    </agm-marker>
  </agm-map>
  
</ion-content>

