.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

agm-map{
  height: 100%;
}

ion-card {
  position: absolute;
  width: 95%;
  bottom: 0px;
}

ion-button {
  width: 100%;
}

.drivers{
  width: 130px;
  min-height: 100px;
  max-height: 100%;
  position: absolute;
  top: 5% !important;
  left: 5% !important;
  background: white;
}