<ion-header>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button menuToggle="right" color="primary" (click)="openMenu()">
          <ion-icon name="person"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-header>

<ion-content>
  <agm-map [latitude]="latitude"
           [longitude]="longitude"
           [zoom]="zoom"
           [zoomControl]="false"
           [streetViewControl]="false"
           >
    <agm-marker *ngIf="marker"
                [latitude]="marker.latitude"
                [longitude]="marker.longitude">
    </agm-marker>
  </agm-map>

  <ion-card color="light">
      <ion-card-content>
        <ion-searchbar [(ngModel)]="navService.pickupAutocomplete.query" [showCancelButton]="true" (ionInput)="pickupLocation()"  placeholder="Départ"></ion-searchbar>
        <ion-list [hidden]="navService.pickupAutocompleteItems.length == 0">
            <ion-item *ngFor="let item of navService.pickupAutocompleteItems" tappable (click)="pickupItem(item)">
              {{ item }}
            </ion-item>
          </ion-list>
          <ion-searchbar [(ngModel)]="navService.dropoffAutocomplete.query" [showCancelButton]="true" (ionInput)="dropoffLocation()"  placeholder="Arrivée"></ion-searchbar>
        <ion-list [hidden]="navService.dropoffAutocompleteItems.length == 0">
            <ion-item *ngFor="let item of navService.dropoffAutocompleteItems" tappable (click)="dropoffItem(item)">
              {{ item }}
            </ion-item>
        </ion-list>
      </ion-card-content>
        <ion-button color="primary" [routerLink]="['/results']">drive Mi</ion-button>
    </ion-card>

</ion-content>

